@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <div class="container mt-5">
        <h1 class="text-center">Welcome to ZeroHunger</h1>
        <p class="text-center">Ending Food Waste, One Meal at a Time</p>

        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="text-primary">1. Restaurants Open Collect Requests</h2>
                        <p>Partner restaurants can easily open a collect request from their dashboard, specifying the type and quantity of surplus food available, along with the maximum time it can be preserved.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="text-primary">2. We Accept and Assign</h2>
                        <p>Once a collect request is submitted, our dedicated team reviews and accepts it promptly. We then assign one of our trained employees to collect the food from the restaurant's location.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="text-primary">3. Food Collection and Distribution</h2>
                        <p>Our employee collects the surplus food from the restaurant and ensures it is safely transported to our distribution center. From there, the food is promptly distributed to those in need by our dedicated team.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="text-primary">4. Tracking and Transparency</h2>
                        <p>Our system keeps track of all collect requests and their details, ensuring transparency and accountability at every step of the process. Restaurants can see exactly where their donations are going, while our supporters can rest assured that their contributions are making a real impact.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-5">
            <a href="../Home/SignUp" class="btn btn-primary">Join Us in the Fight Against Food Waste</a>
        </div>
    </div>

</main>