
@{
    ViewBag.Title = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Login</h4>
                </div>
                <div class="card-body">
                    <form action="#" method="POST">
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="email" class="form-control" value="@Model.Email" id="email" name="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="password" class="form-control" value="@Model.Password" id="password" name="Password" required>
                        </div>
                        <div>@if (Model.msg != null) { @Model.msg}</div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


