
@{
    ViewBag.Title = "Education";
}

<main>
    <ul class="nav bg-black bg-opacity-25">
        <li class="nav-item">
            <a class="nav-link " href="../Home/Index">Index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../Home/Education">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../Home/Personal">Personal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="../Home/Projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="../Home/References">References</a>
        </li>
    </ul>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Education</h1>
    </section>
    <div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Degree</th>
                    <th scope="col">Year</th>
                    <th scope="col">Institution</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>SSC</td>
                    <td>2017</td>
                    <td>BN School and College-Chattogram</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>HSC</td>
                    <td>2019</td>
                    <td>BN School and College-Chattogram</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>BSc</td>
                    <td>2024</td>
                    <td>American International University-Bangladesh</td>
                </tr>
            </tbody>
        </table>
    </div>


</main>

