
@{
    ViewBag.Title = "Projects";
}

<main>
    <ul class="nav bg-black bg-opacity-25">
        <li class="nav-item">
            <a class="nav-link " href="../Home/Index">Index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../Home/Education">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../Home/Personal">Personal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="../Home/Projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="../Home/References">References</a>
        </li>
    </ul>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Projects</h1>
        <ul  style="list-style-type:disc;">
            <li >OOP1 - Transportation Info</li>
            <li >OOP2 - Smart Hostel Management</li>
            <li >Webtech - Software Project Development Management</li>
            <li >Advance Webtech - Voktar Odhikar</li>
        </ul>
    </section>


</main>

