
@{
    ViewBag.Title = "References";
}

<main>
    <ul class="nav bg-black bg-opacity-25">
        <li class="nav-item">
            <a class="nav-link " href="../Home/Index">Index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../Home/Education">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../Home/Personal">Personal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="../Home/Projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="../Home/References">References</a>
        </li>
    </ul>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">References</h1>
    </section>
    <div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                   
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td>Dr. John</td>
                    <td>john@email.com</td>
                   
                </tr>
                <tr>
                   
                    <td>Dr. Karim Haque</td>
                    <td>karim@email.com</td>
                
                </tr>
                <tr>
                   
                    <td>Ms. Manisha</td>
                    <td>manish@mail.com</td>
                </tr>
            </tbody>
        </table>
    </div>


</main>



